/* src/app/blog/[...slug]/page.module.scss */
.container {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 2rem; /* 패딩 조정 */
  background-color: var(--background);
  color: var(--color);
  border-radius: 8px;
  box-shadow: var(--shadow-md);
}
