/* Callout Styles */
.callout {
  border-left: 5px solid rgb(var(--callout-color));
  background-color: rgba(var(--callout-color), 0.1);
  border-radius: 5px;
  padding: 1rem;
  margin: 1.5rem 0;
  overflow: hidden;
}

.callout-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(var(--callout-color));
  margin-bottom: 0.5rem;
}

.callout-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.callout-icon svg {
  width: 100%;
  height: 100%;
}

.callout-content {
  color: inherit;
}

.callout-content > :first-child {
  margin-top: 0;
}

.callout-content > :last-child {
  margin-bottom: 0;
}