// src/components/Header.module.scss
.header {
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 0.625rem;
  align-items: baseline;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;

  a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      color: var(--link-hover-color);
    }
  }
}

.navLink {
  color: var(--nav-color);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: var(--nav-hover-color);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchForm {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.searchInput {
  padding: 0.5rem;
  border: 1px solid var(--item-border-color);
  border-radius: 4px 0 0 4px;
  outline: none;
  background: var(--item-background);
  color: var(--item-color);

  &:focus {
    border-color: var(--item-selected-border-color);
  }
}

.searchButton {
  padding: 0.5rem 1rem;
  background-color: var(--item-background);
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;

  &:hover {
    background-color: var(--item-hover-background);
  }
}

.themeToggle {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;

  &:hover {
    background-color: var(--item-hover-background);
  }
}