/* src/components/Skeleton.module.scss */

.skeleton {
  background-color: var(--neutral-200); // 스켈레톤 기본 배경색
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  // 반짝이는 효과를 위한 가상 요소
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      var(--neutral-100),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

// 애니메이션 키프레임
@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
